body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: url(/public/img/yMfWUJ1.jpg);  
}
footer{
    background:-webkit-linear-gradient(to right,#0e0d0e,#141010);
    background: linear-gradient(to right,#141112,#150c0d);
    color: white;
    padding-bottom: 26px;
    font-family:'Roboto', sans-serif;
}
hr{
    width: 76%;
    height: 1px;
    background-color: white;
    border: none;
    margin-right: 15.6%;
}
.p1{
    margin: 0;
    color: white;
    margin-left: 8.3%;
    float: left;
}
.p2{
    margin: 0;
    color: white;
    padding-left: 77%;
}
.navbar{
    background: #0E0717;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    text-decoration: none;
    color: white;
}
.card-group {
    position: relative;
    width: 80%;
    left: 11%;
    margin-bottom: 40px;
    ;
    text-align: center;
}

.card {
    border-color: black;
    border-radius: 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

#carouselExampleIndicators {
    position: relative;
    left: 26%;
    width: 50%;
}

a {
    text-decoration: none;
    color: white;
}
.form{
      background: rgb(222,222,222);
      background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(39,39,39,1) 0%, rgba(58,14,108,1) 0%, rgba(114,114,130,1) 0%, rgba(77,67,98,1) 0%, rgba(64,48,93,1) 0%, rgba(42,30,64,1) 0%, rgba(30,20,47,1) 0%, rgba(14,7,22,1) 100%, rgba(90,79,113,1) 100%, rgba(73,62,95,1) 100%, rgba(38,18,65,1) 100%, rgba(167,167,179,1) 100%, rgba(184,184,194,1) 100%, rgba(250,250,255,1) 100%, rgba(42,23,63,1) 100%, rgba(30,30,30,1) 100%, rgba(32,32,32,1) 100%, rgba(0,0,0,1) 100%, rgba(19,19,19,1) 100%, rgba(9,9,121,1) 100%, rgba(37,37,37,1) 100%, rgba(118,118,118,1) 100%, rgba(81,81,81,1) 100%, rgba(29,29,29,1) 100%);width: 80%;
      margin: auto;
      margin-top: 2%;
      width: 90%;
      max-width: 400px;
      padding: 4.5em 3em;
      border-radius: 10px;
      box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
      text-align: center;
}
.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}  
.form__group{
      position: relative;
      --color:#ffffff;
}
.form__input{
    width: 100%;
    background: none;
    color:#ffffff;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #ffffff;
    border-bottom: 1px solid;
    font-family: 'Roboto Condensed', sans-serif;
}
.form__input:not(:placeholder-shown){
      color: #ffffff;
}.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label{
    transform: scale(1);
}
@media (max-width:425px){
    .form__title{
        font-size: 1.8rem;
    }
}
button{
background: rgb(62,0,113);
background: linear-gradient(90deg, rgba(62,0,113,0.7458333675266982) 100%, rgba(81,81,81,1) 100%);
color: rgb(255, 255, 255);
border-style: none;
border-radius: 10px;
width: 120px;
font-size: 22px;
padding: 4px;
}